body {
  overflow-x: hidden;
}

.cartImg {
  width: 230px;
  height: 140px;
}

.cartImg img {
  width: auto;
  height: 100%;
}

.historyBt {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.box {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.noOverflow {
  height: 105px;
  overflow: hidden;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
